.container1 {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.property {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.property span {
    font-weight: bold;
}